@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./post.css');
@import url('./toc.css');

@layer components {
  .bg-global {
    @apply bg-neutral-50 dark:bg-neutral-900;
  }
  .bg-primary-1 {
    @apply bg-white dark:bg-neutral-800;
  }
  .text-primary-1 {
    @apply text-neutral-800 dark:text-white;
  }
  .text-accent-1 {
    @apply text-teal-800 dark:text-teal-400;
  }
  .icon-btn {
    @apply text-primary-1 p-3;
  }
  .badge {
    @apply select-none text-xs flex items-center font-bold px-3 py-1 bg-black text-white;
  }
}

@layer utilities {
  .vstack {
    @apply flex flex-col;
  }
  .hstack {
    @apply flex items-center;
  }
  .wrap {
    @apply hstack flex-wrap;
  }
  .center {
    @apply flex items-center justify-center;
  }
}
