@import 'prism-themes/themes/prism-vsc-dark-plus.css';

.post {
  @apply my-5 text-base font-medium text-neutral-800 dark:text-white !important;
}

.post a {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-blue-600 dark:from-blue-400 dark:to-blue-500 !important;
}

.post p {
  @apply mt-0 mb-9 text-[15px] sm:text-base !important;
}

.post h2 {
  @apply px-4 py-2 mt-16 mb-12 border-l-4 border-current text-2xl !important;
}

.post h3 {
  @apply px-4 py-2 mt-10 mb-8 border-b-2 text-xl !important;
}

.post h4 {
  @apply mb-4 text-lg !important;
}

.post ul + p {
  @apply mt-5 !important;
}

.post code {
  font-size: max(12px, 85%) !important;
  @apply whitespace-nowrap font-mono mx-[2px] py-[2px] px-[3px] rounded-sm text-teal-900 bg-teal-100 dark:text-teal-100 dark:bg-teal-900 !important;
}

.post pre code {
  @apply whitespace-pre m-0 p-0 text-[13px] sm:text-sm text-inherit bg-transparent dark:text-inherit dark:bg-transparent !important;
}

.post pre {
  @apply p-4 mb-9 rounded-md !important;
}
