.toc {
  background-color: white;
  border: 1px solid black;
  border-radius: 0.25rem;
  padding: 1rem;
  font-size: 0.875rem;
}

.toc-list .toc-list {
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.toc-list-item {
  padding-bottom: 0.5rem;
}

.toc-list-item:last-child {
  padding-bottom: 0;
}

.toc-link {
  color: blue;
}

.is-active-link {
  color: red;
  font-weight: 700;
}
